@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
  h1 {
    @apply text-[50px] font-bold;
  }
  h2 {
    @apply text-[2.5rem] font-bold;
  }
  p {
  }
  h3 {
  }
  h4 {
    @apply text-[1rem] font-semibold;
  }
  textarea {
  }
  input {
  }
  select {
  }
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-grad {
  background: linear-gradient(180deg, transparent 0%, #272741 80%);
}

.VerticalAppointment-content {
  width: max-content;
  color: "#333" !important ;
}
.Appointment-appointment {
  color: "#333" !important ;
}

.MainLayout-stickyElement {
  color: "#fff" !important;
}

.css-1675apn-MuiTableCell-root .Cell-highlightedText {
}


.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background-color: rgb(102, 209, 243);
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
}

.sign-btn {
  position: relative;
  overflow: hidden;
  background: none;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sign-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(102, 209, 243, 0.4), rgba(102, 209, 243, 0));
  border-radius: inherit;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.sign-btn:hover {
  color: #66d1f3;
}

.sign-btn:hover::before {
  transform: scaleX(1);
}
