@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
  h1 {
    @apply text-[50px] font-bold;
  }
  h2 {
    @apply text-[2.5rem] font-bold;
  }
  p {
    @apply text-[1.25rem];
  }
  h3 {
    @apply text-[1.5625rem] font-bold;
    letter-spacing: 0.34rem;
  }
  h4 {
    @apply text-[1rem] font-semibold;
  }
  input[type="checkbox"] {
    @apply scale-150;
  }
  input {
    @apply w-full rounded-[10px] border border-gray p-2 focus:outline-none;
  }
  textarea {
    
  }
  input[type="color"] {
  }
  select {
    
  }
}


* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-grad {
  background: linear-gradient(180deg, transparent 0%, #272741 80%);
}
